init==0.1.0
packaging==24.1
option==2.1.0
lpips==0.1.4
sklearn==0.0.post12
joblib==1.4.2
matplotlib==3.9.0
tqdm==4.66.4
ptflops==0.7.3
scipy==1.14.0
optimizers==0.1
loader==2017.9.11
natsort==8.4.0
monai==1.3.2
pydicom==2.4.4
torch==2.3.1
einops==0.8.0
h5py==3.11.0
typing==3.10.0.0
skimage==0.0
datasets==2.20.0
kornia==0.7.3
solver==0.0.4
torchvision==0.18.1
dataloaders==0.0.1
lr_scheduler==0.1
